body {
  background-image: url("/img/bg2.webp");
  height: 100dvh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
