---
import Layout from '../layouts/Layout.astro';
import Board from '../components/Board'
---

<Layout title="Conway's Game">
	<main class="min-h-screen bg-blue-200 w-full flex flex-col justify-center items-center gap-4 p-4">
        <Board client:load/>
    </main>
</Layout>

<style>
	
</style>
