---
import Layout from "../layouts/Layout.astro";
import Board from "../components/Board";
import Monitor from "../components/Monitor";
import "../styles/index.css";
---

<Layout title="Conway's Game">
  <main class="main-container">
    <Monitor client:only />
    <!-- <Board client:only /> -->
  </main>
</Layout>

<style></style>
